.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.modalContent {
  background: linear-gradient(145deg, #1b1f3b, #16192c);
  padding: 30px;
  border-radius: 16px;
  width: 420px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

.label {
  font-size: 14px;
  color: #b0b5d3;
  margin-bottom: 5px;
  display: block;
}

.swapContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tokenInput {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.tokenInput img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

select,
input {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  flex-grow: 1;
  padding: 10px;
}
input {
  color: white;
}

select {
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
  appearance: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.swapIcon {
  background: #4a90e2;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  rotate: 90deg;
  justify-content: center;
  cursor: pointer;
  margin: 10px auto;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.swapButton {
  width: 100%;
  padding: 14px;

  background: linear-gradient(135deg, #4a90e2, #3b82f6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  border: none;
}

.closeButton {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff4b6c, #ff1744);
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}
